*{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.content-layout{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 16px;
}

.recipe-layout{
    width: 10rem;
    flex-basis: 24%;
    overflow-x: hidden;
    box-shadow: 4px 2px 4px gray;
    padding: 0.1rem;
}
.nav-items-grid{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-column-gap: 2%;

}

#user-position{
    display: grid;
    grid-column: 17;
    color: white;
    text-wrap: nowrap;
}

#logout-position{
    display: grid;
    grid-column: 18;
    grid-row: 1;
}

.title-format{
    background-color: black;
    color: orange;
}

.center-text{
    text-align: center;
}

.created-on-format{
    color: black;
    font-style: italic;
}

.title-description-format{
    background: orange;
    color: black;
}

a{
    text-decoration: none;
    color: orange;
    text-wrap: nowrap;
}


.image-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-image{
    border: 5px solid;
    border-radius: 25px;
    width: 90%;
    height: 200px;
    object-fit: cover;
}

.detail-image{
    border: 5px solid;
    border-radius: 25px;
    width: 10%;
    height: 200px;
    object-fit: cover;
}


body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
}

footer{
    padding: 32px 16px;
    background: gray;
    color: white

}


nav{
    background: black;
    border-bottom: 1px solid black;
    padding: 16px 16px;
}

nav a{
    color: white;
}

tr:nth-child(even) {
    background-color: lightgray
}

h3:hover{
    text-decoration: underline;
    color: gray;
}

nav a:hover{
    text-decoration: underline;
    color: gray;
}

img{
    transition: transform .7s ease-in-out;
}

img:hover{
    transform: rotateY(180deg);
}
